<!-- src/views/letter.hbs -->
<div class="section">
    <p><strong>To whom it may concern:</strong></p>
    <p>I am writing to formally dispute inaccurate information on my credit report related 
to an incorrect account rating for the account with XYZ Bank. The report reflects a 
delinquency, which is erroneous, as all payments have been made on time. This 
inaccuracy has negatively impacted my credit score, and I demand its immediate 
investigation and correction.
Under  <span class="highlighted-text"> The Fair Credit Reporting Act (FCRA)</span>, credit reporting agencies are required  to maintain accurate and complete information. <span class="highlighted-text"> The Metro 2 standards</span> further reinforce the need for compliance in reporting consumer information. The continued 
reporting of this false delinquency violates these legal obligations.

I request the following actions be taken immediately:

Proof of Delinquency: I demand full documentation that supports the claimed 
delinquency for the account in question. This should include any relevant statements 
or communications that verify such an issue.

Verification of Permissible Purpose: Provide evidence that this account rating and 
related inquiry were made in compliance with the permissible purposes outlined by <span class="highlighted-text">The 
FCRA Act (FCRA) and etro 2</span> guidelines.</p>
</div>


<div class="section highlight" >
    <p><strong>Personal Information:</strong></p>
    <ul>
        <li><strong>Name:</strong> My only name is <strong>{{NAME}}</strong>, and your records must reflect this accurately. Any variation or incorrect names must be deleted.</li>
        <li><strong>Address:</strong> The correct current address is <strong>{{ADDRESS}}</strong>. Any previous or unverified addresses should be removed from your system as they do not comply with FCRA or Metro 2 standards.</li>
    </ul>
</div>

<div class="section">
    <p>I also request proof of a permissible purpose for any inquiries on my report. You are required by law to provide documentation confirming the legitimacy of all inquiries made.</p>
</div>

<div class="section">
    <p>Please ensure that your response to this dispute is both timely and compliant with all relevant regulations. Failure to do so may lead to further action, including legal consultation, to protect my consumer rights. I expect a full investigation and correction of this matter within 30 days of receipt of this letter.
    </p>
</div>

<div class="section">
    <p>I look forward to receiving confirmation that these errors have been corrected and an updated credit report within
</p>
</div>
<div class="letter-footer">
        <p>Sincerely,</p>
        <p>{{fullName}}</p>
        <p>{{Address}}</p>
        <p>SSN: {{SSN}}</p>
        <p>DOB: {{DOB}}</p>
</div>